article {
    width: 100vw;
}




article p {
    width: 50%;
    margin: 5vh auto;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #222;
}

article p a {
    color: #005a7d;
    text-decoration: underline;
}

@media only screen and (max-width: 1023px) {

  article p {
    width: 90%;
    margin: 3vh auto;
    font-size: 1rem;
  }

}




article .quote {
    width: 50%;
    margin: 5vh auto;
    border-left: solid 2px black;
    padding: 1vh 0 0 0;
    overflow: hidden;
}

article .quote p {
    width: unset;
    font-style: italic;
    font-size: 1.4rem;
    margin: 0 1vw 1vw 1vw;
}

article .quote a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 0.9rem;
    line-height: 2;
    display: inline-block;
    padding: 0 3rem 0 2rem;
    border-radius: 0 1rem 1rem 0;
    transition: padding 0.3s ease 0s;
    background-size: auto 0.9rem;
    background-position: right 0.9rem center;
    background-repeat: no-repeat;
}

article .quote:hover a{
    padding: 0 5rem 0 2rem;
}

@media only screen and (max-width: 1023px) {

  article .quote {
    width: 90%;
    margin: 3vh auto;
    padding: 1rem 0 0 0;
  }

  article .quote p {
      font-size: 1rem;
  }

  article .quote a {
      font-size: 0.8rem;
      background-size: auto 0.8rem;
      background-position: right 0.8rem center;
      margin: 1vh 0 0 0;
  }

}




article figure {
    margin: 5vh auto;
}

article figure img {
    height: calc(100vh - 3rem);
    margin: 0 auto;
    display: block;
}

article figure figcaption {
    font-size: 0.9rem;
    margin: 1vh auto;
    display: block;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 1023px) {

  article figure {
      margin: 3vh auto;
  }

  article figure img {
    width: 100vw;
    height: unset;
  }

  article figure figcaption {
      font-size: 0.8rem;
      width: 50%;
  }

}
