*{
    padding: 0;
    margin: 0;
    font-family: Merriweather, serif;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}




.iconMenu {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath d='M12 0a12 12 0 100 24 12 12 0 000-24zm6 17H6v-2h12v2zm0-4H6v-2h12v2zm0-4H6V7h12v2z'/%3E%3C/svg%3E");
}

.iconUp {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M0 16.7l2.8 2.8 9.2-9.3 9.2 9.3 2.8-2.8L12 4.5z'/%3E%3C/svg%3E");
}

.iconLink {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M21 13v10H0V4h12v2H2v15h17v-8h2zm3-12H13l4 4-7 7 3 3 7-7 4 4V1z'/%3E%3C/svg%3E");
}

.iconEnvelope {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M0 3v18h24V3H0zm21.5 2L12 12.7 2.5 5h19zM2 19V7.2l10 8 10-8V19H2z'/%3E%3C/svg%3E");
}




.navBar {
    position: fixed;
    top: -3rem;
    left: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    box-shadow: 0 0 0.25rem black;
    z-index: 1;
    transition: top 0.3s ease 0s;
}

.navBar h2 {
    font-size: 1.25rem;
    line-height: 2;
    font-weight: normal;
}

.navBar h2 a {
    color: black;
    text-decoration: none;
}

.navBar h3 {
    font-weight: normal;
    margin: 0 0 0 1vw;
    text-align: center;
    flex: 1;
    font-size: 1.25rem;
}

@media only screen and (max-width: 1023px) {

  .navBar {
      width: 100vw;
  }

  .navBar h2 {
      display: none;
  }

  .navBar h3 {
    line-height: 2.5rem;
    margin: 0 0.25rem;
    font-size: 1rem;
  }

}




.topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 0 0 1vw;
}

.topBar .menuBox {
    width: 2rem;
    height: 2rem;
    margin: 2vh 1vw 1vh;
}

.topBar h2 {
    font-size: 1.5rem;
    margin: 2vh 1vw 1vh;
    color: white;
    text-shadow: 0 0 5px black;
}

.topBar h2 a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1023px) {

  .topBar {
    padding: 0;
  }

  .topBar h2 {
    margin: 1vh auto;
    font-size: 1.25rem;
  }

}




.header {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header .titleBox {
    width: 60vw;
    text-align: right;
    margin: 1vh 3vw 3vw 37vw;
    color: white;
}

.titleBox h1 {
    font-size: 5rem;
    text-shadow: 0 0 0.5rem black, 0 0 1rem black, 0 0 1.5rem black, 0 0 2rem black, 0 0 2.5rem black;
}

.titleBox h2 {
  font-size: 1.5rem;
  margin: 1vh 0 0 0;
  text-shadow: 0 0 0.5rem black, 0 0 1rem black, 0 0 1.5rem black;
  font-weight: normal;
}

@media only screen and (max-width: 1023px) {

  .header .titleBox {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .titleBox h1 {
    font-size: 2rem;
  }

  .titleBox h2 {
    font-size: 1.25rem;
    margin: 1vh auto;
    overflow: hidden;
  }

}




.scrollToTop.iconUp {
    position: fixed;
    width: 2rem;
    height: 2rem;
    bottom: 2vh;
    right: 1vw;
    background-color: #111;
    border-radius: 500px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease 0s;
}




footer {
    padding: 25vh 0;
    background-color: #111;
    margin: 25vh 0 0 0;
}

footer .contact {
    width: 3rem;
    margin: 0 auto;
}

footer .contact a {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 500px;
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 1023px) {

  footer {
    width: 100vw;
    overflow: hidden;
    margin: 5vh 0 0 0;
  }

}




#featuredArticle {
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#featuredArticle .featuredBox {
    width: 33vw;
    text-align: right;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 500px 0 0 500px;
    margin: 0 -1rem 0 0;
}

#featuredArticle h2 {
    margin: 0 0 5vh 0;
}

#featuredArticle h3 {
    font-weight: normal;
    opacity: 0.8;
}

#featuredArticle .featuredBox:hover + .box, #featuredArticle .box:hover {
    background-size: 250%;
}

#featuredArticle .box {
    height: 33vw;
    width: 33vw;
    border-radius: 500px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%) contrast(125%);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    transition: background-size 0.3s ease 0s;
}

#featuredArticle .box h2 {
    text-align: center;
    padding: 0 15vh;
    width: 100%;
    color: white;
    font-size: 2rem;
    text-shadow: 0 0 0.25rem black, 0 0 0.5rem black;
    background-color: rgba(0, 0, 0, 0.66);
    line-height: 1.5;
}




.splashNavBar {
    padding: 0 1vw;
    margin: 0 0 5vh 0;
}

.splashNavBar h2 {
    font-size: 1.25rem;
    line-height: 2;
    font-weight: normal;
}

.splashNavBar h2 a {
    color: #222;
    text-decoration: none;
}




#posts {
    margin: 5vh auto;
    width: 60vw;
}




.post {
    display: flex;
    overflow: hidden;
    margin: 10vh auto;
    padding: 1rem;
    background-color: rgb(238, 238, 238);
    border-radius: 1rem;
    color: rgb(34, 34, 34);
    text-decoration: none;
    transition: background-color 0.3s ease 0s;
}

.post .cover {
    width: 10vw;
    height: 10vw;
    border-radius: 500px;
    filter: grayscale(100%) contrast(125%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1vw 0 0;
    min-width: 10vw;
}

.post .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

.post p {
    line-height: 1.5;
    opacity: 0.5;
    transition: opacity 0.3s ease 0s;
}

.post:hover {
    background-color: #ddd;
}

.post:hover p {
    opacity: 1;
}
